html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkslategray;
    color: snow;
    margin: 0px 90px 0px
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    background-color: cornflowerblue;
    padding-top: 25px;
    padding-bottom: 25px;
}

h2 {
    font-weight: bold;
    font-size: 2.25em;
    text-align: center;
    background-color: cornflowerblue;
    padding-top: 25px;
}

h3 {
    font-weight: bold;
    font-size: 1.55em;
    background-color: cornflowerblue;
    padding-top: 40px;
    padding-left: 5px;
}

h4 {
    font-weight: bold;
    font-size: 1.25em;
    background-color: cornflowerblue;
    padding-top: 40px;
    padding-left: 5px;
    text-align: center;
}

#intro {
    font-size: 1.25em;
    background-color: cornflowerblue;
    padding-left: 20px;
    padding-right: 20px;
}

figure {
    background-color: cornflowerblue;
    padding-left: 40px;
}

img {
    border-style: solid;
    border-width: medium;
    border-color: snow;
    max-width: 150px;
    height: auto;
}

figcaption {
    padding-top: 5px;
}

ul {
    background-color: cornflowerblue;
}

footer {
    background-color: cornflowerblue;
    padding: 35px 5px 25px;
    text-align: right;
}

ul {
    display: block;
    margin:0;
    padding:15px 45px 0px;
}

li {
    display: inline-block;
    width: 22%;
    text-align: center;
}

.mainPara {
    padding: 0px 20px 0px;
    font-size: 1.25em;
    background-color: cornflowerblue;
}

a {
    color: midnightblue;
    font-weight: bold;
}

.img-para {
    display: flex;
    padding-top: 15px;
    background-color: cornflowerblue;
}

p {
    line-height: 1.25em;
}